<div class="start">
  <header class="header">
    <div class="logo"></div>
    <div class="nav"></div>
    <button class="logout">LogOut</button>
  </header>
  <article class="main">
    <h1 class="game-name"><span>RSS</span> PUZZLE</h1>
    <p class="game-description">
      Educational game where players assemble puzzles to form English words and
      sentences, making language learning enjoyable.
    </p>
  </article>
  <article class="greeting"></article>
  <button class="start-game-button">Start Game</button>
</div>
